#art{
    display: table;
    border-spacing: 1px;
    background-color: black;
    border:5px solid black;
    text-align: center;
}

.noselect {
   
  }

.row{
    display: table-row;
}

.pixel{

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
                        
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
    content: "0";
}